<h3>Podkastai kuriuos pasižymėjote perklausyti vėliau</h3>
<ul class="icon-list">
    {% if listenLaterPodcasts|length > 0 %}
    {% for podcast in listenLaterPodcasts %}
    <li><i class="et-chevron-right"></i>
        {% if podcast.id in podcastsLater %}
        <i class="et-beamed-note note-color remove" data-podcast-id="{{ podcast.id }}"
            data-url="{{ url('listen_later') }}" data-user-id="{{ app.user.id }}"> </i>
        {% else %}
        <i class="et-beamed-note add" data-podcast-id="{{ podcast.id }}" data-url="{{ url('listen_later') }}"
            data-user-id="{{ app.user.id }}"> </i>
        {% endif %}


        {{ podcast.title }}
        <p><audio controls class="entry-read-more1">
                <source src="{{ podcast.audio}}" type="audio/mp3">
                Your browser does not support the audio element.
            </audio></p>
    </li>
    {% endfor %}
    {% else %}
    Nieko nepasižymėjote
    {% endif %}
</ul>