<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="text" content="">
<meta name="author" content="NFQ akademijos studentai">
<link rel="shortcut icon" href="{{asset('/favicon.png')}}">
<title>Krepšinio podcastai</title>

{{ encore_entry_link_tags('bootstrap_css') }}

{{ encore_entry_link_tags('icons') }}

{{ encore_entry_link_tags('style') }}

{{ encore_entry_link_tags('custom') }}

<link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->