<!DOCTYPE html>
<html lang="en">
{{ include('front/layout/head.html.twig') }}

<body>
  <div class="content-wrapper">

    {{ include('front/layout/navbar.html.twig') }}

    {% block header %}{% endblock %}
    <div class="wrapper light-wrapper">
      <div class="container inner">
        <div class="row">

          {% block content %}{% endblock %}

          {{ include('front/layout/sidebar.html.twig') }}
        </div>
      </div>
    </div>
  </div>

  {{ include('front/layout/footer.html.twig') }}

  {{ include('front/layout/_javascript.html.twig') }}
</body>

</html>