
<div id="comments">
  <h4>{{ comments|length}} komentarai</h4>
  <ol id="singlecomments" class="commentlist">
    {% for comment in comments %}
      <li>
        <div class="message">
          <div class="user icon icon-round"><img alt="" src="{{asset('/images/user_default.png')}}" style="height:80px; width:80px;"/></div>
          <div class="message-inner">
            <div class="info">
              <h5><a href="#">
              {% if comment.user.fullName is null %}
               {{ comment.user.username }}
              {% else %}
                {{ comment.user.fullName }}
              {% endif %}
              </a></h5>
              <div class="meta"> <span class="date">{{ comment.createdAt|date}}</span></div>
            </div>
            <p>{{ comment.body }}</p>
          </div>
        </div>
      </li>
    {% endfor %}
  </ol>
</div>
