{% extends 'front/layout/main.html.twig' %}

{% block header %}
{{ include('front/layout/header.html.twig') }}
{% endblock %}

{% block content %}
{# {{ render(controller('App\\Controller\\PublicController::getSourcesSection')) }} #}


 <div class="col-sm-8">
    {% if app.request.get('q') != null %}
        <div class="alert bg alert-info">
        Ieškojote: <strong>{{ app.request.get('q') }}</strong>. Rasta: <strong>{{ podcastsCount }}</strong>.
        </div>
    {% endif %}
          <div class="blog list-view listen-later">
           {% for podcast in podcasts %}
            <div class="post">
              <div class="row">
                <div class="col-md-5">
                  <figure class="overlay">

                        {% if podcast.video != null %}
                          <iframe width="312" height="215" src="https://www.youtube.com/embed/{{ podcast.video }}" frameborder="0" 
                                  allow="accelerometer; autoplay; encrypted-media; gyroscope" allowfullscreen>
                          </iframe>
                                        
                        {% endif %}

                        {% if (podcast.image != null) and (podcast.video == null) %}
                        <img src="{{ podcast.image }}" alt="" />
                        {% elseif podcast.image == null %}
                        <img src="{{ asset('images/podcast_default.jpg') }}"  />
                        {% endif %}
                  </figure>
                </div>
                <!--/column -->                
                <div class="space20 visible-sm clearfix"></div>
                <div class="col-md-7"> <span class="category"> <a href="{{ podcast.source.url}}" class="" target="_blank"> {{ podcast.source.name}} </a></span>
                  <div class="post-content">
                    <h3 class="post-title"><a href="{{ path('single_podcast', {podcast: podcast.id}) }}" >{{ podcast.title}}</a></h3>
                    <div class="meta1"><span class="date">{{ podcast.publishedAt|date("M d, Y") }}</span>
                        {# <span class="comments"><a href="#">5 Comments</a></span> #}
                        {% if app.user %}
                          |
                          {% if podcast.id in podcastsLater %}
                              <i class="et-beamed-note note-color remove" data-podcast-id = "{{ podcast.id }}" 
                                 data-url ="{{ url('listen_later') }}" data-user-id = "{{ app.user.id }}"> </i> 
                          {% else %}
                                <i class="et-beamed-note add" data-podcast-id = "{{ podcast.id }}" 
                                  data-url ="{{ url('listen_later') }}" data-user-id = "{{ app.user.id }}"> </i> 
                          {% endif %}
                            |
                         <i class="et-heart-outlined"> </i>  {{ podcast.likesByUser|length }}
                        {% endif %}
                        </div>
                            {% if podcast.audio != null %}
                            <p> 
                                <audio controls class="entry-read-more1">
                                    <source src="{{ podcast.audio}}" type="audio/mp3">
                                    Your browser does not support the audio element.
                                </audio>
                            </p>

                            {% endif %}
                              <p> {{ podcast.description }}</p>
                  </div>
                  <!-- /.post-content --> 
                </div>
                <!--/column --> 
              </div>
              <!--/.row --> 
              
            </div>
            <!-- /.post -->
     {% endfor %}
             
          </div>
          <!-- /.blog -->

           {{ knp_pagination_render(podcasts) }}
          
        </div>
{% endblock %}

{% block sidebar %}
    {{ render(controller('App\\Controller\\PublicController::getNavigationBar')) }}
{% endblock %}

{% block javascript %}
  {{ encore_entry_script_tags('listen_later') }}
{% endblock %}