{% extends 'front/layout/main.html.twig' %}

{% block main %}

{{ include('front/pages/posts/_sources.html.twig') }}

    <div id="content" class="content-with-sidebar-right blog-page-list">
        
		<div class="sh-group blog-list blog-style-small">

        {% for podcast in podcasts %}
            <article class="post-item post type-post">
                <div class="post-container sh-group">
                    
                    <div class="post-left-side">

                        <div class="post-meta-thumb">
                        {% if podcast.image == null %}
                            <img width="660" height="420" src="{{ asset('images/podcast_default.jpg') }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
                        {% else %}
                            <img width="660" height="420" src="{{ podcast.image }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />
                        {% endif %}

                        </div>

                    </div>
                    <div class="post-right-side">

                        <a href="{{ path('single_podcast', {podcast: podcast.id}) }}" class="post-title">
                            <h2> {{ podcast.title }}</h2>
                        </a>

                        <div class="post-meta post-meta-one">
                            
                            <span class="post-meta-author">
                                by <a href="{{ podcast.source.url}}" class="bypostauthor" target="_blank"> {{ podcast.source.name}} </a>
                            </span>

                            <a href="#" class="post-meta-date sh-default-color">{{ podcast.publishedAt|date("M d, Y") }}</a>
                
                        </div>

                        <div class="post-content">
                            <p> {{ podcast.description }}</p>
                            {% if podcast.audio != null %}
                            <p> 
                                <audio controls class="entry-read-more1">
                                    <source src="{{ podcast.audio}}" type="audio/mp3">
                                    Your browser does not support the audio element.
                                </audio>
                            </p>
                            {% endif %}
                            {% if podcast.video != null %}
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ podcast.video }}" frameborder="0" 
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            {% endif %}
                        </div>

                        <div class="post-meta post-meta-two">
                            
                            <div class="sh-columns post-meta-comments">
                                <span class="post-meta-categories">
                                    <i class="icon-tag"></i>
                                    <a href="#">Basketnews</a>, <a href="#">Travel</a>            
                                </span>
                                    <a href="#" class="post-meta-comments">
                                        <i class="icon-speech"></i>0 </a>
                            </div>

                            </div>

                    </div>
                </div>
            </article>
         {% endfor %}

        {{ knp_pagination_render(podcasts) }}
    </div>
</div>
{% endblock %}