{% extends 'front/layout/main.html.twig' %}

{% block content %}
 <div class="col-sm-8">
          <div class="blog classic-view single">
            <div class="post">
              <figure><img src="style/images/art/bp1.jpg" alt="" /></figure>
              <span class="category"><a href="{{ podcast.source.url}}" class="label bg-lime" target="_blank">
                {{ podcast.source.name}} </a></span>
              <div class="post-content">
                <h1 class="post-title">{{ podcast.title }}</h1>
                <div class="meta"><span class="date">{{ podcast.publishedAt|date("M d, Y") }}</span>
                  <span class="author"> <a href="{{ podcast.source.url}}" class="bypostauthor" target="_blank">
                                {{ podcast.source.name}} </a></span>
                  {# <span class="comments"><a href="#">5 Comments</a></span> #}
                </div>
                {% if podcast.audio != null %}
                <p>
                    <audio controls class="entry-read-more1">
                        <source src="{{ podcast.audio}}" type="audio/mp3">
                        Your browser does not support the audio element.
                    </audio>
                </p>
                {% endif %}
                {% if podcast.video != null %}
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ podcast.video }}"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                {% endif %}
                <p> {{ podcast.description }}</p>


                <div class="space10"></div>
     
                <!-- /.tiles -->                
                <div class="clearfix"></div>

                <!-- <a href="#" class="btn btn-rounded btn-icon btn-icon-left share-facebook goodshare" data-type="fb">
                  <i class="et-facebook"></i>Share on Facebook</a> 
                  <a href="#" class="btn btn-rounded  btn-icon btn-icon-left share-twitter goodshare" data-type="tw">
                    <i class="et-twitter"></i>Share on Twitter</a> <a href="#" class="btn btn-rounded  btn-icon btn-icon-left share-pinterest goodshare" data-type="pt">
                      <i class="et-pinterest"></i>Share on Pinterest</a>  -->
              </div>
              <!-- /.post-content --> 
              
            </div>
            <!-- /.post -->
            
            {# <hr />
            <div class="post-nav-wrapper">
              <div class="post-nav prev">
                <div class="meta"><i class="et-chevron-small-left"></i> Previous Article</div>
                <h4><a href="#">Cursus Quam Ullamcorper Cras Ornare Etiam Aenean</a></h4>
              </div>
              <div class="post-nav next">
                <div class="meta">Next Article <i class="et-chevron-small-right"></i></div>
                <h4><a href="#">Fringilla Ligula Consectetur Ridiculus Vulputate</a></h4>
              </div>
            </div> #}
            <!-- /.post-nav -->
            
            <!-- <hr />
            <div class="about-author">
              <div class="author-image"> <img alt="" src="style/images/art/author.jpg" /> </div>
              <h4>About the Author</h4>
              <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac.</p>
              <ul class="social social-color social-s">
                <li> <a href="#"><i class="et-facebook"></i></a> </li>
                <li> <a href="#"><i class="et-twitter"></i></a> </li>
                <li> <a href="#"><i class="et-instagram"></i></a> </li>
                <li> <a href="#"><i class="et-vimeo"></i></a> </li>
                <li> <a href="#"><i class="et-linkedin"></i></a> </li>
              </ul>
            </div> -->
            <!-- .about-author -->
            <div class="clearfix"></div>
            <hr />

            {# {{ include('front/pages/_comments.html.twig') }} #}
            
            {# {{ include('front/pages/_comment_box.html.twig') }} #}
            
          </div>
          <!-- /.blog --> 
          
        </div>
{% endblock %}

{% block sidebar %}
  {{ include('front/layout/sidebar.html.twig') }}
{% endblock %}