<img src="https://podcast.projektai.nfqakademija.lt/images/headphones.png">
<h3>Sveikas, krepšinio aistruoli,</h3>
{% if user is defined %}
    <p>Naujausi podkastai ({{ podcasts|length}}) pagal pasirinktus tagus:
        {% for tag in tags %}
            <b>{{ tag }} </b>
        {% endfor %}
    </p>
{% else %}
    <p>Naujausi podkastai ({{ podcasts|length}})</p>
{% endif %}
{% for podcast in podcasts %}
    <div>
        <a href="{{ url('podcasts_by_source', {slug: podcast.source.slug}) }}">{{ podcast.source.name}}</a>:
              
        <b><a href="{{ url('single_podcast', {slug: podcast.slug}) }}" >{{ podcast.title}}</a></b>
         <p> {{ podcast.description }}</p>
    </div>
{% endfor %}

{% if subscriber is defined %}
    <a href="{{ url('unsubscribe', {unsubscribeToken: subscriber.unsubscribeToken}) }}">Atsisakyti prenumeratos</a>
{% endif %}